.body {
    margin: 0px 350px;
    margin-top: 20px
}

    .body .container {
        display: flex;
    }

        .body .container .image img {
            width: 100%;
        }

        .body .container .info {
            margin-left: 30px;
        }

            .body .container .info .category {
                color: gray;
            }

            .body .container .info .price {
                color: red;
            }

.row {
    margin-top: 10px;
    display: flex;
    line-height: 30px;
}

    .row .quantity {
        display: flex;
    }

    .row .quantity {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: #fff;
    }

        .row .quantity .button {
            border: none;
            background-color: #fff;
            font-size: 18px;
            width: 40px;
        }

        .row .quantity .button-remove {
            border-right: 1px solid gray;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .row .quantity .button-add {
            border-left: 1px solid gray;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .row .quantity .number {
            padding: 0px 10px;
        }

    .row .button-tocart {
        margin-left: 20px;
        background-color: #fff;
        font-size: 15px;
        width: 100%;
    }

.info .button-buy {
    margin-top: 12px;
    line-height: 40px;
    font-size: 15px;
    background-color: #fac457;
    border: none;
    width: 100%;
}

    .info .button-buy:hover {
        background-color: #fcd890;
    }

button {
    border-radius: 8px;
    line-height: 20px;
}

.info .payment-method {
    background-color: #ebebeb;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px 0px;
}


    .info .payment-method .images {
        display: inline-block;
        text-align: center;
    }

        .info .payment-method .images img {
            margin: 0 10px;
        }

.info .info-policies {
    margin-top: 10px;
}

    .info .info-policies p {
        margin-bottom: 5px;
    }

.info .info-describe {
    margin-top: 30px;
}

    .info .info-describe ul {
        margin-left: 20px;
        margin-top: 8px;
    }
